a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    color: grey;
    text-decoration: none;
}

.form-control{
    margin: 4px;
}

.paginate a{
    color: black;
    text-decoration: none;

}
.paginate a:hover
{
    color: grey;
    text-decoration: none;
}



#menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
#menu-demo2 li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;

}


#menu-demo2 ul li{
    display:inherit;
    border-radius:0;
}
#menu-demo2 ul li:hover{
    border-radius:0;
}
#menu-demo2 ul li:last-child{
    position: relative;
    border-radius:0 0 8px 8px;
}
#menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
    max-height:15em;
}
/* background des liens menus */

#menu-demo2 li:last-child{
    background-color: dimgray;

}
/* background des liens sous menus */

#menu-demo2 li:last-child li{
    background:dimgray;
}

#menu-demo2 a{
    text-decoration:none;
    display:block;
    padding:8px 32px;
    color:#fff;
    font-family:arial;
}
#menu-demo2 ul a{
    padding:8px 0;
}
#menu-demo2 li:hover li a{
    color:#fff;
    text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
    color:#000;
}


