// Learn about how this was made:
// @link https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/

$color: #a0a0a0;
$color-dark: scale-color($color, $lightness: -30%);

$transition: 280ms all 120ms ease-out;

* {
    box-sizing: border-box;
}

.dropdown__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
}
nav.black{
    background: rgb(255, 255, 255); // Make sure this color has an opacity of less than 1
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

}
nav {

    transition: 1s;
    background-color: rgb(255, 255, 255);


    > div {

        > ul {
            grid-auto-flow: column;


            > li {
                margin: 0 0.5rem;


                a,
                .dropdown__title {

                    max-width: 180px;
                    text-decoration: none;
                    text-align: center;
                    display: inline-block;
                    color: #000000;
                    font-size: 1.125rem;
                    margin: auto;
                    &:focus {
                        outline: none;
                    }

                }

                > a,
                .dropdown__title {
                    min-height: 60px;
                    padding: 1rem 0.5rem;
                    border-top: 3px solid transparent;
                    transition: $transition;

                    &:hover
                    {
                        color: #000000;
                        border-top: 3px solid black;
                    }

                }
            }
        }

    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;

        li {
            padding: 0;
        }
    }
}

.dropdown {
    position: relative;
    margin: auto;
    max-width: 160px;
    .dropdown__title {

        display: inline-flex;
        align-items: center;

        &:after {
            content: "";
            border: 0.35rem solid transparent;
            margin-left: 0.25em;
            transform: translateY(0.15em);
        }
    }

    .dropdown__menu {
        position: absolute;
        min-width: 180px;
        left: 50%;
        top: calc(100% - -0.2rem);
        transition: $transition;
        transform: rotateX(-90deg) translateX(-50%);
        transform-origin: top center;
        visibility: hidden;
        opacity: 0.3;
        padding: 0.5em 0;
        background-color: #ffffff;
        border-top: 3px solid #d2d2d2;
        border-radius: 4px;
        box-shadow: 0 0.15em 0.25em rgba(black, 0.25);

        a {
            color: black;
            display: block;
            padding: 0.5em;
            opacity: 0;
            transition: $transition;

            &:hover {
                background-color: rgba($color, 0.15);
            }

            &:focus {
                outline: none;
                background-color: rgba($color, 0.25);
            }
        }
    }

    &:after {
        content: "";
        border: 0.5rem solid transparent;
        border-bottom-color: #d2d2d2;
        position: absolute;
        top: calc(100% - 0.8rem);
        left: 50%;
        transform: translateX(-50%);
        transition: $transition;
        opacity: 0;
        will-change: opacity;
    }

    &:hover,
    &:focus-within {

        .dropdown__menu {
            opacity: 1;
            transform: rotateX(0) translateX(-50%);
            visibility: visible;

            a {
                opacity: 1;
            }
        }

        &:after {
            opacity: 1;
        }
    }
}
main {
    padding: 1rem;
    max-width: 80ch;
    margin: 0 auto;

    &:focus {
        outline: none;
    }
}
