* {
  box-sizing: border-box;
}

.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

nav.black {
  background: white;
  box-shadow: 0px 0px 20px black;
}

nav {
  transition: 1s;
  background-color: white;
}
nav > div > ul {
  grid-auto-flow: column;
}
nav > div > ul > li {
  margin: 0 0.5rem;
}
nav > div > ul > li a,
nav > div > ul > li .dropdown__title {
  max-width: 180px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #000000;
  font-size: 1.125rem;
  margin: auto;
}
nav > div > ul > li a:focus,
nav > div > ul > li .dropdown__title:focus {
  outline: none;
}
nav > div > ul > li > a,
nav > div > ul > li .dropdown__title {
  min-height: 60px;
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
  transition: 280ms all 120ms ease-out;
}
nav > div > ul > li > a:hover,
nav > div > ul > li .dropdown__title:hover {
  color: #000000;
  border-top: 3px solid black;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
nav ul li {
  padding: 0;
}

.dropdown {
  position: relative;
  margin: auto;
  max-width: 160px;
}
.dropdown .dropdown__title {
  display: inline-flex;
  align-items: center;
}
.dropdown .dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  margin-left: 0.25em;
  transform: translateY(0.15em);
}
.dropdown .dropdown__menu {
  position: absolute;
  min-width: 180px;
  left: 50%;
  top: calc(100% - -0.2rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0.3;
  padding: 0.5em 0;
  background-color: #ffffff;
  border-top: 3px solid #d2d2d2;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}
.dropdown .dropdown__menu a {
  color: black;
  display: block;
  padding: 0.5em;
  opacity: 0;
  transition: 280ms all 120ms ease-out;
}
.dropdown .dropdown__menu a:hover {
  background-color: rgba(160, 160, 160, 0.15);
}
.dropdown .dropdown__menu a:focus {
  outline: none;
  background-color: rgba(160, 160, 160, 0.25);
}
.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #d2d2d2;
  position: absolute;
  top: calc(100% - 0.8rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
.dropdown:hover .dropdown__menu a, .dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}
.dropdown:hover:after, .dropdown:focus-within:after {
  opacity: 1;
}

main {
  padding: 1rem;
  max-width: 80ch;
  margin: 0 auto;
}
main:focus {
  outline: none;
}

/*# sourceMappingURL=dropDown.css.map */
