
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}

.grid >a > article {
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}.grid >a > article:hover {

    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}


.grid >a > article img {
    max-width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.grid .text {
    padding: 20px;
    height: 100%;
}

.grid .text h3 {
    font-size: 1.4rem;
    font-family: Arial, cursive;
    text-align: center;
}


.btnBlack{
    background: gray;
    color: white;
    border: 1px solid white;
    outline-style: none;
    transition: 0.7s;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, cursive;
    width: 100px;
    border-radius:10px ;
    margin-bottom: 5px;
}
.btnBlack:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
}

.btnBlack:focus,.btnBlack:active { outline: none !important; box-shadow: none; }
.grid >a:focus,.grid >a:active { outline: none !important; box-shadow: none; }




