body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {

    margin: 0;
    padding-top: 50px;
    width: 280px;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.sidebar form{
    padding-right: 10px;
    padding-left: 10px;
    max-width: 300px;
    margin: auto;
}
.sidebar .group{
    text-align: center;
   margin-top: 10px;
}
.sidebar a {
    display: block;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4CAF50;
    color: white;
}

.sidebar a:hover:not(.active) {

}

div.content {
    margin-left: 263px;
    padding: 1px 16px;

}

@media screen and (max-width: 900px) {

    .sidebar {
        padding-top: 0px;
        width: 100%;
        height: auto;
        position: relative;
    }

    div.content {margin-left: 0;}

}

@media screen and (max-width: 400px) {

    .sidebar a {
        text-align: center;
        float: none;
    }
}
