textarea{
    /* box-sizing: padding-box; */
    overflow:hidden;
    /* demo only: */
    padding:10px;
    width:250px;
    font-size:14px;
    margin:50px auto;
    display:block;
    border-radius:10px;
    border:6px solid #556677;
}
.test {
    text-align: center;
}
.image{
    float: left;
}
p {
    width: 200px; /* à modifier selon vos besoins */
    overflow: hidden; /* les dépassements seront masqués */
}

.boite{
    padding: 4px;
    border: 2px solid #eeeeee;
    border-radius: 30px;
    background: #f8f8f8;
    min-height: 150px;
}

.flatpickrTime{
width: 20px;
}

.hover10 img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover10 img:hover  {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}




.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 40%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column {
        flex: 100%;
        max-width: 100%;
    }
}



