<template>
  <div class="about">
    <input type="text" v-model="user.name">
    <input type="email" v-model="user.email">
    <input type="password" v-model="user.password">
    <button @click="createUser">créer</button>
  </div>
</template>
<script>
  import axios from 'axios'
  export default {
    data() {
      return{
        user:{
          name: '',
          email: '',
          password: ''
        }
    }
    },
    methods:{
      async createUser(){
        await axios.post(`http://backendteest1.test/api/createUser`, this.user)
      }
    }
  }
</script>
