<template>
  <div class="hello">
      <ul>
          <li v-for="(element,index) in this.todos" v-bind:key="index">
              <input id="check" type="checkbox" v-model="element.checked">
              <label for="check">{{ element.text }}</label>
          </li>
      </ul>
      <input type="text" v-model="postItem.text">
      <button @click="addItem">Ajouter</button>
      <button @click="deleteItem">Supprimer</button>
  </div>
</template>

<script>
  import axios from 'axios'

export default {
  name: 'HelloWorld',
  data () {
    return {
        todos: null,
        postItem:{
            text: null,
            checked: false
        },
        dropItem: {
            id: {}
        },
        checked: false
    }
  },
    async mounted() {
        try {
            this.todos = (await axios.get('http://localhost:8080/test')).data;
        } catch (e) {
            this.errors.push(e)
        }
    },
    methods: {
        async addItem() {
            try {
                await axios.post(`http://localhost:8080/test`, this.postItem)
            } catch (e) {
                this.errors.push(e)
            }
            window.location.reload()
        },
        async deleteItem() {

            for (var item of this.todos){
                if(item.checked){
                    this.dropItem.id=item.id;
                }
            }
            console.log(this.dropItem.id)
            try {
                await axios.post(`http://localhost:8080/delete`,this.dropItem)
            } catch (e) {
                this.errors.push(e)
            }
            window.location.reload()
        },


  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
